<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/layout :: layout(_,~{::content},_) }">


  <main th:fragment="content">
      <h1>Ma calculatrice</h1>

      <form th:action="@{/calc}" method="post" th:object="${form}">
          <div class="mb-3">
              <label for="in-n1" class="form-label">nombre 1</label>
              <input type="number" class="form-control" id="in-n1" th:field="*{nbr1}">
          </div>
          <div class="mb-3">
              <label for="in-ope" class="form-label">opérateur</label>
              <select class="form-select" id="in-ope" th:field="*{operator}">
                  <option value="+">+</option>
                  <option value="-">-</option>
                  <option value="*">*</option>
                  <option value="/">/</option>
                  <option value="%">%</option>
              </select>
          </div>
          <div class="mb-3">
              <label class="form-label" for="in-n2">nombre 2</label>
                  <input type="number" class="form-control" id="in-n2" th:field="*{nbr2}">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </main>


</html>