<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/personne}" th:object="${personne}" method="post">
    <div>
        <label for="lastname">Nom</label>
        <input type="text" name="lastname" id="lastname" th:field="*{lastname}">
        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="text-danger"></span>
    </div>
    <div>
        <label for="firstname">Prénom</label>
        <input type="text" name="firstname" id="firstname" th:field="*{firstname}">
        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="text-danger"></span>

    </div>
    <div>
        <label for="ddn">Date de naissance</label>
        <input type="date" name="ddn" id="ddn" th:field="*{ddn}">
        <span th:if="${#fields.hasErrors('ddn')}" th:errors="*{ddn}" class="text-danger"></span>
    </div>
    <div>
        <button type="submit">Valider</button>
        <button type="reset">Reset</button>
    </div>
</form>

</body>
</html>