<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/room/add}" method="post" th:object="${room}">
    <div>
        <label for="in-num">numéro</label><br/>
        <input type="number" id="in-num" th:field="*{numRoom}">
    </div>
    <div>
        <label for="in-bed-simple">nombre de lit simple</label><br/>
        <input type="number" id="in-bed-simple" th:field="*{nbrSimpleBed}">
    </div>
    <div>
        <label for="in-bed-double">nombre de lit double</label><br/>
        <input type="number" id="in-bed-double" th:field="*{nbrDoubleBed}">
    </div>
    <div>
        <label for="in-size">taile</label><br/>
        <input type="number" id="in-size" th:field="*{size}">
    </div>

    <button type="submit">Envoyer</button>
</form>
</body>
</html>