<!DOCTYPE html>
<html lang="fr" th:replace="~{layout/layout::layout(_,~{::content},_)}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container" th:fragment="content">
        <h1>Details d'une chambre</h1>

        <div th:object="${room}">
            <p> numéro de la chambre:  <span th:text="*{numRoom}">1</span> </p>
            <p th:if="*{nbrSimpleBed} > 0"> nombre de lits simples:  <span th:text="*{nbrSimpleBed}">1</span> </p>
            <p th:if="*{nbrDoubleBed} > 0"> nombre de lits doubles:  <span th:text="*{nbrDoubleBed}">1</span> </p>
            <p> taille en m²:  <span th:text="*{size}" th:class="*{size} > 20 ? 'red'">20</span> </p>
            <p th:if="${ hotel } != null">
                hotel:  <span th:text="*{hotel.name}">the hotel</span>
                <a th:href="@{/hotel/{id}(id=*{hotel.id})}">
                    <button class="btn btn-primary">
                        détails
                    </button>
                </a>
            </p>
        </div>
    </div>


    <script src="/js/script.js"></script>

</body>
</html>